# Build artifacts
bin/
obj/

# Specific testing models
resources/3d/Earth2K.obj
resources/3d/EarthTextures/
resources/3d/mountains.obj
resources/3d/room_obj/
resources/3d/skull.obj
resources/3d/woodenwatchtower2.obj
resources/3d/woodwatchtowertextures/

# Visual Studio
*.suo
*.user
*.userprefs
*.csproj.user

# Rider/JetBrains
.idea/
*.iml

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/
packages.lock.json

# Logs
*.log

# Archives
*.zip
*.tar
*.gz
*.7z

# OS / System
*.DS_Store
Thumbs.db

# Coverage
*.cov
coverage/
